<div class="row">
    <div class="col-5">

        <div class="wrapper">
            <div class="container">
                <form autocomplete="off" action="">
                    <div class="group">
                        <label for="type">Type:</label>
                        <input type="text" id="type" name="type" [(ngModel)]="credential.type">
                    </div>
                    <div class="group">
                        <label for="qty">Quantity:</label>
                        <input type="text" id="qty" name="quantity" [(ngModel)]="credential.quantity">
                    </div>
                    <div class="group">
                        <label for="year">Expected Year:</label>
                        <select name="year" [(ngModel)]="credential.year">
                            <option *ngFor="let yr of year; let i = index">{{ yr }}</option>
                        </select>
                    </div>
                    <br>
                    <button type="button" class="btn btn-success" (click)="AddFuture()">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col" style="margin-top: 20%; margin-left: 20%;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="padding: 20px;"> Goto Expected Cultitvations</button>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width: 1000px;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="width: 1000px; margin-right: -500px; margin-left: 300px">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle" style="margin-left: 40%; color: green;">Expected cultivation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-expected-cultivation></app-expected-cultivation>
            </div>
          </div>
        </div>
      </div>

  </div>


<div class="row" style="margin-top:50px;">

  <div class="col">

        <h1>Current cultivation 2019</h1>

        <table class="fixed_header" style="margin-left:100px;">
            <thead>
              <tr>
                <th>Harvest</th>
                <th></th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let cur of current">
                <td>{{ cur[0] }}</td>
                <td></td>
                <td>{{ cur[1] }}</td>
              </tr>
    
            </tbody>
          </table>

        </div>
   
        <div class="col">
            <h1>Current cultivation 2020</h1>
    
            <table class="fixed_header" style="margin-left:100px;">
                <thead>
                  <tr>
                    <th>Harvest</th>
                    <th></th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let fut of future">
                    <td>{{ fut[0] }}</td>
                    <td></td>
                    <td>{{ fut[1] }}</td>
                  </tr>
        
                </tbody>
              </table>

        </div>

</div>


