<div class="row">
    <div class="col-5">

        <div class="wrapper">
            <div class="container">
                <form autocomplete="off" action="">
                    <div class="group">
                        <label for="type">Type:</label>
                        <input type="text" id="type" name="type" [(ngModel)]="credential.type">
                    </div>
                    <div class="group">
                        <label for="qty">Quantity:</label>
                        <input type="text" id="qty" name="quantity" [(ngModel)]="credential.quantity">
                    </div>
                    <div class="group">
                        <label for="year">Expected Year:</label>
                        <select name="year" [(ngModel)]="credential.year">
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2022</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success" (click)="AddFuture()">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col">
            <button type="button" class="btn btn-primary" routerLink="/expected_cultivation"> Goto Expected Cultitvations</button>
        </div>
</div>

        <h1>Current cultivation 2019</h1>

        <table class="fixed_header">
            <thead>
              <tr>
                <th>Harvest</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
    
              <div *ngFor="let cur of current">
              <tr>
                <td>{{ cur[0] }}</td>
                <td>{{ cur[1] }}</td>
              </tr>
            </div>
    
            </tbody>
          </table>
    </div>

    <div class="col">

            <h1>Current cultivation 2020</h1>
    
            <table class="fixed_header">
                <thead>
                  <tr>
                    <th>Harvest</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
        
                  <div *ngFor="let fut of future">
                  <tr>
                    <td>{{ fut[0] }}</td>
                    <td>{{ fut[1] }}</td>
                  </tr>
                </div>
        
                </tbody>
              </table>
        </div>

</div>
