
<div class="background">

        <div style="background-color: rgb(18, 82, 9); color: white;">
                <a (click)="home()" class="navbar-brand" style="margin:5px 5%;"><div>Home</div></a>
                <a (click)="add()" class="navbar-brand" style="margin:5px 5%;"><div>Add expected cultivation</div></a>
                <a (click)="LogOut()" class="navbar-brand" style="margin:5px 0 5px 40%"><div>Logout</div></a>
              </div>

        
        <div *ngIf="marked">


        <table class="fixed_header">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>NIC</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Grama Niladari Division</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
        
                  <div *ngFor="let farm of farmer">
                  <tr>
                    <td>{{ farm.firstName }} {{ farm.lastName }}</td>
                    <td>{{ farm.email }}</td>
                    <td>{{ farm.nic }}</td>
                    <td>{{ farm.contactNo }}</td>
                    <td>{{ farm.personalAddress }}</td>
                    <td>{{ farm.gramaNiladariDivision }}</td>
                    <td><button style="margin: 5px;" (click)="Accept(farm.farmerId)"
                        *ngIf="farm.accepted == 0">Accept the farmer</button>
                        <div
                        *ngIf="farm.accepted == 1">Accepted</div>
                    </td>
                  </tr>
                </div>
        
                </tbody>
              </table>

            </div>


            <div *ngIf="!marked">
              <app-add-expected></app-add-expected>
            </div>



</div>